.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f343d;
  font-size: calc(10px + 2vmin);
}

.Table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.File-select {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #2f343d;
}

.Hex-table {
  display: block;
  width: 100%;
  min-height: 20px;
  margin: 30px auto;
  background-color: #2f343d;
  border-radius: 10px;
}

.Hex-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;

  font-family: "Lucida Console", Monaco, monospace;
  text-transform: uppercase;
}